@{
  // Set the page title which links with the _Layout.cshtml
  ViewBag.Title = "About";
  ViewBag.TeamName = "L.A.I.R";
  string[] views = { "Angela Efremova", "Le An Nguyen", "Israr Wahid", "Renzzi Adorador" };
  string[] controllers = { "Le An Nguyen", "Angela Efremova", "Israr Wahid", "Renzzi Adorador" };
  string[] models = { "Le An Nguyen", "Angela Efremova", "Israr Wahid", "Renzzi Adorador" };
  string[] data = { "Le An Nguyen"};
 }

<h1 class="display-4">Welcome to @ViewBag.TeamName!</h1>
<p>SportsPro ASP.NET is a product of @ViewBag.TeamName!</p>
<br />
<div>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">Views</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">Controllers</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">Models</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">Data</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <p>Contributed by:</p>
                    <ul>
                        @foreach (string name in views)
                        {
                            <li>@name</li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <p>Contributed by:</p>
                    <ul>
                        @foreach (string name in controllers)
                        {
                            <li>@name</li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <p>Contributed by:</p>
                    <ul>
                        @foreach (string name in models)
                        {
                            <li>@name</li>
                        }
                    </ul>
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <p>Contributed by:</p>
                    <ul>
                        @foreach (string name in data)
                        {
                            <li>@name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>